doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .side-panel
      ul
        li
          a(href='catalogue/kinds') Kinds
        li
          a(href='catalogue/manufacturers') Manufacturers
        li
          a(href='catalogue/backpacks') Backpacks
        li
          a(href='catalogue/backpackinstances') Backpack Instances
      hr

    .main-panel 
      block content